.container{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.header{
    /* height: 1.5rem; */
    display: flex;
    padding: .5rem 5rem;
    justify-content: space-between;
    align-items: center;
}