
.container{
    border:1px solid #e5e5e5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 2rem 2rem;
    margin: 2rem 0 0 0;
    width: 45%;
    border-radius: 20px;
}

.btnGrp{
    display: flex;
    justify-content: space-between;
}